<nav class="container">
  <ol class="list-reset py-4 pl-4 rounded flex bg-grey-light text-grey">
    <li class="px-2">
      <a
        [routerLink]="['/branch', branch.branch_id]"
        routerLinkActive="underline"
        class="no-underline text-indigo"
        >{{ branch.name }}</a
      >
    </li>
  </ol>
</nav>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6" *ngFor="let cate of category">
        <div class="rounded-lg h-64 overflow-hidden">
          <img
            alt="content"
            class="object-cover object-center h-full w-full"
            src="/assets/images/category/{{ cate.image }}"
          />
        </div>
        <a
          class="text-indigo-500 inline-flex items-center mt-3"
          [routerLink]="['/category', branch.branch_id, cate.name]"
          >{{ cate.name }}
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-2"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
